html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://res.cloudinary.com/dru1bgwo9/image/upload/v1775867167/Screenshot_2026-04-11_at_5.31.24_AM_pefq9g.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}